# Virtual environment
venv/
.venv/

# Credentials & configs
config.yaml
service_account.json

# Local database
trainmate.db

# Logs
logs

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/
